body {
  font-family: sans-serif;
}

#navheader {
  /*background-color: #46ba95;*/
	background-color: rgb(51, 51, 51);
  color: white;
}

#mainheader {
  background-color: #003057;
  color: white;
}

core-header-panel[drawer] {
  background-color: #ececec;
  /*background-color: #d6d2c4;*/
  color: #003057;
}
core-header-panel[drawer] paper-item.core-selected {
  /*background: #5b7f95;*/
  /*background-color: #d6d2c4;*/
  font-weight: bold;
}


core-header-panel[main] {
  /*background-color: #ececec;*/
  background-color: white;
}

.content {
	padding: 20px;
}


 paper-tabs::shadow #selectionBar {
  background-color: #e87722;
}

paper-tabs paper-tab::shadow #ink {
  color: #e87722;
} 

paper-tabs paper-tab.core-selected {
  font-weight: bold;
}


[data-configurator-type-content].selected {
  display: block;
}
[data-configurator-type-content] {
  display: none;
}